<html>
    <head>
        <title>
            <%= title  %>
        </title>
        
        <link rel="stylesheet" href="/css/layout.css">
        
    </head>

    <body>
        <div id="header">
        <!-- <%- include('_header'); %> -->
        <%- include('_header'); -%>
         </div>

        <%- body %>

        
      <!-- <%- include('_footer'); %> -->
        
        
        
    </body>
        
</html>